<p id="notice"><%= notice %></p>

<div class="col-sm-12" id="stories">  
  <div class="page-header text-muted divider">
    <%= @title %>
  </div>
</div>

<% if @title == 'Posts' %>
  <%= render 'posts/search' %>
<% end %>

<div class="column col-sm-12" id="main">
  <div class="pagination">
    <%= will_paginate %>
  </div>
  
  <div>
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  
  <div class="pagination">
    <%= will_paginate %>
  </div>

</div>
