<p id="notice"><%= notice %></p>

<div class="col-sm-12" id="stories">  
  <div class="page-header text-muted divider">
    <%= @title %>
  </div>
</div>

<section class="search-form">
  <%= form_for :posts, controller: 'posts', action: :index, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>

      <%= text_field_tag :keywords, nil, class: "form-control input-lg" %>

      <span class="input-group-btn">
        <%= submit_tag "Find Posts", class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>

<div class="column col-sm-12" id="main">
  <div class="pagination">
    <%= will_paginate %>
  </div>
  
  <div>
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  
  <div class="pagination">
    <%= will_paginate %>
  </div>

</div>
