<div class="page-header text-muted divider">
    <%= @title %>
  </div>
</div>

  <div>
    <%= link_to "Редактировать профиль", edit_user_registration_path, class: "btn btn-link"%>
  </div>

  <br>

  <section class="search-form">
    <%= form_for :sources, controller: 'posts', action: :settings, method: :get do |f| %>
      <div class="input-group input-group-sm">
        <%= label_tag :keywords, nil, class: "sr-only" %>

        <%= text_field_tag :keywords, nil, class: "form-control input-lg" %>

        <span class="input-group-btn">
          <%= submit_tag "Find Sources", class: "btn btn-primary btn-sm" %>
        </span>
      </div>
    <% end %>
  </section>  

  <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Rss Link</th>
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
      <% @sources.each do |source| %>
        <tr>
          <td><%= source.id %></td>
          <td><%= source.name %></td>
          <td><%= link_to 'Источник', source.link %></td>

          <% if current_user.sources.include?(source) %>
            <td>
              <%= render partial: 'posts/unread', locals: {source: source} %> 
            </td>
          <% else %>  
            <td>
              <%= render partial: 'posts/to_read', locals: {source: source} %> 
            </td>
          <% end %>  
        </tr>
      <% end %>
    </tbody>
  </table>
