<div class="page-header text-muted divider">
    <%= @title %>
  </div>
</div>

  <div>     
    <h4>Здесь Вы можете выбрать интересующие Вас источники и, нажав кнопку 'Читать', добавить их себе. После этого новости этого источника появятся в разделе 'My lent' и будут обновляться каждые два часа.</h4>

    <h4>Также можно перейти к странице редактирования профиля. Для этого нажмите на данную <%= link_to "ссылку.", edit_user_registration_path%></h4>
  </div>

  <section class="search-form">
    <%= form_for :sources, controller: 'posts', action: :settings, method: :get do |f| %>
      <div class="input-group input-group-sm">
        <%= label_tag :keywords, nil, class: "sr-only" %>

        <%= text_field_tag :keywords, nil, class: "form-control input-lg", 
          placeholder: @keywords.to_s %>

        <span class="input-group-btn">
          <%= submit_tag 'Search', class: "btn btn-primary btn-sm" %>
        </span>
      </div>
    <% end %>
  </section>  

  <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rus Name</th>
        <th>Readers</th>
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
      <% @sources.each do |source| %>
        <tr id=<%= source.id %>>
          <%= render partial: 'posts/source', locals: {source: source} %>
        </tr>
      <% end %>
    </tbody>
  </table>
