<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Lent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="box">
          <div class="row">
            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
              <!-- <a class="logo" href="#">B</a> -->
              <ul class="nav">
                <li><a><%= link_to 'Posts', posts_all_path %></a></li>
                <li><%= link_to 'My lent', my_lent_posts_path %></li>
                <li><%= link_to 'Settings', posts_settings_path %></li>
              </ul>
              <ul class="nav hidden-xs" id="sidebar-footer">
              <% if current_user %>
                <li>
                  <!--<a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a> -->
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
                </li>
              <% end %>  
              </ul>
            </div>
            <!-- /sidebar -->

            <div class="column col-sm-9" id="main">
              <div class="padding">
                <div class="full col-sm-9">
                  <%= yield %>
                </div>
              </div>
            </div>        
          </div>
      </div>
    </div> 

  
  </body>
</html>
